KoloWin.CustomerService/Service References/ExWebSvc4ExTools/WebService4Kolo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FindEneoByBillNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codeTerm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passTerm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroFacture" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindEneoByBillNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindEneoByBillNumberResult" type="tns:UnpaidBill" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UnpaidBill">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BillNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillerId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BilledCustomerId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillAccountId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BillGenerationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="BillDueDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="BillAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ImportationDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestedOperation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumCompteur" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ref4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ref5" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Statut" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Frais" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindEneoPaidBillByReference">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codeTerm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passTerm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindEneoPaidBillByReferenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindEneoPaidBillByReferenceResult" type="tns:PaidBill" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PaidBill">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubTransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillPartnerCompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillPartnerCompanyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillAccountNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BillDueDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PaidAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Frais" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Ccions" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="MontantTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PaidDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PaidByMSISDN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodeTypeFacture" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OMBillPaymentStatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdOperatrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdCaisse" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NomPayeur" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrenomPayeur" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Statut" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StatutReporting" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Degrade" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Operateur" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumCompteur" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SentToLiveCash" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CodeTerminal" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PayENEO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codeTerm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passTerm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroFacture" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomDuRemettant" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telephone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PayENEOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PayENEOResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindEneoByBillAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codeTerm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passTerm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroContrat" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindEneoByBillAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindEneoByBillAccountResult" type="tns:ArrayOfUnpaidBill" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUnpaidBill">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UnpaidBill" nillable="true" type="tns:UnpaidBill" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindEneoByBillNumberSoapIn">
    <wsdl:part name="parameters" element="tns:FindEneoByBillNumber" />
  </wsdl:message>
  <wsdl:message name="FindEneoByBillNumberSoapOut">
    <wsdl:part name="parameters" element="tns:FindEneoByBillNumberResponse" />
  </wsdl:message>
  <wsdl:message name="FindEneoPaidBillByReferenceSoapIn">
    <wsdl:part name="parameters" element="tns:FindEneoPaidBillByReference" />
  </wsdl:message>
  <wsdl:message name="FindEneoPaidBillByReferenceSoapOut">
    <wsdl:part name="parameters" element="tns:FindEneoPaidBillByReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="PayENEOSoapIn">
    <wsdl:part name="parameters" element="tns:PayENEO" />
  </wsdl:message>
  <wsdl:message name="PayENEOSoapOut">
    <wsdl:part name="parameters" element="tns:PayENEOResponse" />
  </wsdl:message>
  <wsdl:message name="FindEneoByBillAccountSoapIn">
    <wsdl:part name="parameters" element="tns:FindEneoByBillAccount" />
  </wsdl:message>
  <wsdl:message name="FindEneoByBillAccountSoapOut">
    <wsdl:part name="parameters" element="tns:FindEneoByBillAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService4KoloSoap">
    <wsdl:operation name="FindEneoByBillNumber">
      <wsdl:input message="tns:FindEneoByBillNumberSoapIn" />
      <wsdl:output message="tns:FindEneoByBillNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindEneoPaidBillByReference">
      <wsdl:input message="tns:FindEneoPaidBillByReferenceSoapIn" />
      <wsdl:output message="tns:FindEneoPaidBillByReferenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PayENEO">
      <wsdl:input message="tns:PayENEOSoapIn" />
      <wsdl:output message="tns:PayENEOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindEneoByBillAccount">
      <wsdl:input message="tns:FindEneoByBillAccountSoapIn" />
      <wsdl:output message="tns:FindEneoByBillAccountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService4KoloSoap" type="tns:WebService4KoloSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindEneoByBillNumber">
      <soap:operation soapAction="http://tempuri.org/FindEneoByBillNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindEneoPaidBillByReference">
      <soap:operation soapAction="http://tempuri.org/FindEneoPaidBillByReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayENEO">
      <soap:operation soapAction="http://tempuri.org/PayENEO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindEneoByBillAccount">
      <soap:operation soapAction="http://tempuri.org/FindEneoByBillAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService4KoloSoap12" type="tns:WebService4KoloSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindEneoByBillNumber">
      <soap12:operation soapAction="http://tempuri.org/FindEneoByBillNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindEneoPaidBillByReference">
      <soap12:operation soapAction="http://tempuri.org/FindEneoPaidBillByReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayENEO">
      <soap12:operation soapAction="http://tempuri.org/PayENEO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindEneoByBillAccount">
      <soap12:operation soapAction="http://tempuri.org/FindEneoByBillAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService4Kolo">
    <wsdl:port name="WebService4KoloSoap" binding="tns:WebService4KoloSoap">
      <soap:address location="http://195.24.211.129:9996/MobileEEWcf/WebService4Kolo.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService4KoloSoap12" binding="tns:WebService4KoloSoap12">
      <soap12:address location="http://195.24.211.129:9996/MobileEEWcf/WebService4Kolo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>